@{
    ViewData["Title"] = "RFID Reader";
}


<div class="container">
    <h2>Quản lý thiết bị</h2>

    <form asp-action="StartListening" method="post">
        <div class="form-group">
            <label for="portName">Cổng kết nối</label>
            <input type="text" name="portName" class="form-control" id="portName" value="COM3" />
        </div>
        <div class="row">
            <div class="col-3 mt-3">
                <button type="submit" class="btn btn-primary">Kết nối</button>
            </div>
        </div>
    </form>
</div>