@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                EZ
            </span>
             <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div>Trang chủ</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Student") ? " active" : "")'>
            <a asp-controller="Student" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div>Quản lý học sinh</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Test") ? " active" : "")'>
            <a asp-controller="Test" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div>Test</div>
            </a>
        </li>
    </ul>

</aside>
<!--/ Menu -->